In [18]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [19]:
data = pd.read_csv("agaricus-lepiota.data.txt")

In [20]:
data.head()

   p  x  s  n  t p.1  f  c n.1  k ... s.2  w w.1 p.2 w.2  o p.3 k.1 s.3  u
0  e  x  s  y  t   a  f  c   b  k ...   s  w   w   p   w  o   p   n   n  g
1  e  b  s  w  t   l  f  c   b  n ...   s  w   w   p   w  o   p   n   n  m
2  p  x  y  w  t   p  f  c   n  n ...   s  w   w   p   w  o   p   k   s  u
3  e  x  s  g  f   n  f  w   b  k ...   s  w   w   p   w  o   e   n   a  g
4  e  x  y  y  t   a  f  c   b  n ...   s  w   w   p   w  o   p   k   n  g

[5 rows x 23 columns]

In [21]:
X = data.drop(["p"], axis=1)
X = pd.get_dummies(X).values
y = data["p"].values

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)

In [23]:
std_scaler = StandardScaler()
X_train = std_scaler.fit_transform(X_train)
X_test = std_scaler.transform(X_test)

/Users/Pedro./anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype uint8 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [24]:
clf = LogisticRegression()
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0